apiVersion: apps/v1
kind: Deployment
metadata:
  name: spider-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spider-api
  template:
    metadata:
      labels:
        app: spider-api
    spec:
      containers:
        - name: spider-api
          image: spider-api:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: APP_VERSION
              value: dev
            - name: PORT
              value: "8080"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 5
